@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.cdnfonts.com/css/lufga");

:root {
  --background-rgb: 0, 0, 0;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--background-rgb);
  font-family: "Lufga", sans-serif, 400;
}

a {
  cursor: pointer;
}
